services:
  db:
    image: postgres:17
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    image: recipes:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./recipes/:/app/recipes/
      - media_data:/app/mediafiles
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env

  worker:
    image: recipes:latest
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./recipes/:/app/recipes/
    command: celery -A recipes worker -l INFO
    env_file:
      - .env
    depends_on:
      - db
      - redis

  beat:
    image: recipes:latest
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./recipes/:/app/recipes/
    command: celery -A recipes beat -l INFO
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  db_data:
  media_data: