name: Build and Deploy to Development

on:
  pull_request:
    branches:
      - main

jobs:
  build-ui-files:
    runs-on: self-hosted
    name: Build UI Files

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Up Environment
        run: make env

      - name: Build UI files
        env:
          VITE_SENTRY_ENVIRONMENT: dev
          VITE_SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        run: |
          node frontend/.yarn/releases/yarn-4.9.2.cjs --cwd frontend run build
          ./.venv/bin/python3 manage.py collectstatic --noinput

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: node-modules-${{ hashFiles('frontend/package.json') }}

      - name: Cache Python venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: python-venv-${{ hashFiles('pyproject.toml') }}

      - name: Upload UI artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ui-files
          path: |
            frontend/dist
            staticfiles

  build-multiarch-api:
    name: Build and Push Multi-Arch Image (API)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/recipes
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      push: true
      tags: |
        pr-${{ github.event.pull_request.number }}-${{ github.run_number }}
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
      sentry_dsn: ${{ secrets.SENTRY_DSN }}

  build-multiarch-ui:
    name: Build and Push Multi-Arch Image (UI)
    needs: build-ui-files
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/internal/recipes-ui
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      dockerfile_path: ./Dockerfile.nginx
      push: true
      tags: |
        pr-${{ github.event.pull_request.number }}-${{ github.run_number }}
      download_artifacts: true
      artifact_name: ui-files
      artifact_path: "."
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}

  update-gitops-manifest:
    name: Update GitOps Manifest (Development)
    needs: [build-multiarch-api, build-multiarch-ui]
    uses: fricker-studios/github-actions/.github/workflows/update-gitops-manifest.yml@main
    with:
      image_tag: pr-${{ github.event.pull_request.number }}-${{ github.run_number }}
      gitops_repo: fricker-studios/gitops-dev
      project_source_dir: recipes
    secrets:
      GITOPS_ACCESS_TOKEN: ${{ secrets.GITOPS_PAT }}

  argocd-sync:
    name: ArgoCD Sync Application (Development)
    needs: update-gitops-manifest
    uses: fricker-studios/github-actions/.github/workflows/argocd-sync.yml@main
    with:
      application: recipes-dev
    secrets:
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}
