name: Release to Production

on:
  push:
    tags:
      - '*'

jobs:
  build-ui-files:
    runs-on: self-hosted
    name: Build UI Files

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Up Environment
        run: make env

      - name: Build UI files
        env:
          SENTRY_DSN_UI: ${{ secrets.SENTRY_DSN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          VITE_SENTRY_RELEASE: ${{ github.ref_name }}
          VITE_SENTRY_ENVIRONMENT: prod
          VITE_SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        run: |
          node frontend/.yarn/releases/yarn-4.9.2.cjs --cwd frontend run build
          ./.venv/bin/python3 manage.py collectstatic --noinput

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: node-modules-${{ hashFiles('frontend/package.json') }}

      - name: Cache Python venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: python-venv-${{ hashFiles('pyproject.toml') }}

      - name: Upload UI artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ui-files
          path: |
            frontend/dist
            staticfiles

  build-multiarch-api:
    name: Build and Push Multi-Arch Image (API)
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/recipes
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      push: true
      tags: |
        ${{ github.ref_name }}
        latest
      build_args: |
        SENTRY_RELEASE_VERSION=${{ github.ref_name }}
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
      sentry_dsn: ${{ secrets.SENTRY_DSN }}

  build-multiarch-ui:
    name: Build and Push Multi-Arch Image (UI)
    needs: build-ui-files
    uses: fricker-studios/github-actions/.github/workflows/build-multiarch-image.yml@main
    with:
      image_name: ${{ vars.INTERNAL_REGISTRY_URL }}/recipes-ui
      registry: ${{ vars.INTERNAL_REGISTRY_URL }}
      dockerfile_path: ./Dockerfile.nginx
      push: true
      tags: |
        ${{ github.ref_name }}
        latest
      download_artifacts: true
      artifact_name: ui-files
      artifact_path: "."
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}

  update-gitops-manifest-prod:
    name: Update GitOps Manifest (Production)
    needs: [build-multiarch-api, build-multiarch-ui]
    uses: fricker-studios/github-actions/.github/workflows/update-gitops-manifest.yml@main
    with:
      image_tag: ${{ github.ref_name }}
      gitops_repo: fricker-studios/gitops-prod
      project_source_dir: recipes
    secrets:
      GITOPS_ACCESS_TOKEN: ${{ secrets.GITOPS_PAT }}

  update-gitops-manifest-demo:
    name: Update GitOps Manifest (Demo)
    needs: [build-multiarch-api, build-multiarch-ui]
    uses: fricker-studios/github-actions/.github/workflows/update-gitops-manifest.yml@main
    with:
      image_tag: ${{ github.ref_name }}
      gitops_repo: fricker-studios/gitops-demo
      project_source_dir: recipes
    secrets:
      GITOPS_ACCESS_TOKEN: ${{ secrets.GITOPS_PAT }}

  argocd-sync-prod:
    name: ArgoCD Sync Application (Production)
    needs: update-gitops-manifest-prod
    uses: fricker-studios/github-actions/.github/workflows/argocd-sync.yml@main
    with:
      application: recipes-prod
    secrets:
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}

  argocd-sync-demo:
    name: ArgoCD Sync Application (Demo)
    needs: update-gitops-manifest-demo
    uses: fricker-studios/github-actions/.github/workflows/argocd-sync.yml@main
    with:
      application: recipes-demo
    secrets:
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}

  create-release:
    name: Create GitHub Release
    needs: [argocd-sync-prod, argocd-sync-demo]
    uses: fricker-studios/github-actions/.github/workflows/github-release.yml@main
    with:
      tag: ${{ github.ref_name }}
      generate_notes: true
    secrets:
      gh_token: ${{ secrets.GITOPS_PAT }}

  create-sentry-release:
    name: Create Sentry Release
    needs: [argocd-sync-prod, argocd-sync-demo]
    uses: fricker-studios/github-actions/.github/workflows/sentry-release.yml@main
    with:
      release_version: ${{ github.ref_name }}
      sentry_org: sentry
      sentry_project: recipes
      sentry_url: https://sentry.alexfricker.com/
    secrets:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}